@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}
html{
  overflow: hidden;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}
p, a, h3{
  margin: 0;
  padding: 0;
}
a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
}

.title-games {
  line-height: 1.4;
  font-size: 4rem;
  margin: .67em 0;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #333333 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16D9E3;
  color: #16D9E3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}
.danger {
  color: #e31627;
}
.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  /*background-color: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);*/
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
.total{
  display: flex;
  flex-direction: column;
}
footer p{
  margin: 0;
  padding: 0;
  font-size: 0.5em;
  font-weight: normal;
}
.about-games{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.about-games span{
  margin-bottom: 10px;
}

.author-games{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 5px;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fafafa;
  z-index: 999;
  font-size: 0.5em;
  font-weight: normal;
}
.version{
  margin-right: 5px;
  margin-bottom: 5px;
  position: fixed;
  bottom: 0;
  right: 0;
  font-weight: 700;
  color: #fafafa;
  z-index: 999;
  font-size: 0.5em;
}
.times{
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .board {

    width: 400px;
    height: 400px;

  }
}
@media screen and (max-width: 375px) {
  .about-games{
    margin-bottom: 20px;

  }
  .title-games{
      font-size: 3rem;
    margin-bottom: 20px;
  }
  h1.title-times{
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .board {
    width: 350px;
    height: 350px;

  }
  .times{
    margin-bottom: 10px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 320px) {
  .title-games{
    font-size: 2rem;
  }
  h1.title-times{
    font-size: 2rem;
  }
  .board {
    width: 315px;
    height: 315px;

  }
  .times{
    margin-bottom: 10px;
  }
}
@media all and (orientation: landscape) and (max-width: 800px) and (max-height: 400px){
  .board {
    width: 780px;
    height: 300px;

  }
  .times{
    margin-bottom: 5px;
  }
  .title-games{
    font-size: 2rem;
  }
  h1.title-times{
    font-size: 2rem;
  }
}